/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

/* Container principal */
/* .container {
    padding: 20px;
  } */

/* Estilos adicionales para las tarjetas de película */
.movie-card {
    background-color: #2e2e2e;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

/* Imagen del póster de la película */
.movie-poster {
    object-fit: cover;
    height: 300px;
}

/* Título de la película */
.movie-title {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

/* Fecha de lanzamiento */
.movie-release-date {
    color: #bbb;
    font-size: 14px;
    margin-top: 5px;
}

.carousel-image {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 600px; 
    object-fit: cover !important; /* Asegura que la imagen se recorte proporcionalmente sin distorsión */
    border-radius: 10px; /* Opcional: agrega bordes redondeados */
    object-position: center !important; /* Centra la imagen */
  }